.row {
  margin-right: 0px !important;
}
 
.Bgcolor {
  background-color: whitesmoke;
  height: 850px;
}
.footercolor{
  background-color: whitesmoke;
}
.button-right {
  position: absolute;
  right: 40px;
}
.border-welcome {
  border: 2px solid black;
  background-color:white;
}
.welcome {
  font-size: x-large;
  -webkit-text-stroke: thin;
  background-color:white;
}
.profile {
  font-size: x-large;
  text-transform: uppercase;
}
.form-border {
  /* border: ridge; */
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
  -webkit-text-stroke-width: thin;
  background-color:white;
}
.textset{
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  /* font-size: large; */
}
.sizetext{
  font-size: initial;
}
.formsubmit{
  position: absolute;
  right: 40px;
}
.buttonsubmit{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
}
.footerPosition{
  /* position: fixed;  */
  bottom: 0;
  width: 100%;
   text-align: center;
} 
/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
} */

/* * {
    margin: 0;
    padding: 0;
}

.form-signin {
    width: 500px;
    margin: 12% auto;
    padding: 50px 50px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 40px;
}

.input-box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
}

::placeholder {
    color: #ccc;
}

.fa {
    margin-right: 10px;
}


*/
  /* .footer { 
     min-height: calc(100vh - 40px);
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     /* background-color: red; */
     /* color: white; */
     /* text-align: center; */
  /* }  */
